.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/GOPATH__trial_.xml
.idea/trial.iml
.idea/dictionaries/jiayuque.xml
logs
*.iml
*.mean-config.ini
/.idea
hope
