upstream:
  shangtong:
    method: "shangtong"
    account: "CDG1Q"
    url.order: "http://localhost:8900/api.ds400.com/Charge.html"
    apikey: "ptOAdDe42lmub7mnKjPsMK5rwhrt9DuZ"

database:
  url: 'mysql+mysqlconnector://madeira:madeira_123@localhost/madeira'

config:
  site: 1
  debug: False
  port: 8899

cache:
  - {ip: 'localhost', port: 26379}

safety:
  white_list:
    - '127.0.0.1'
    - '::1'
  secret: 'hsauZAuMg76Wr6re'