<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name></display-name>
	<servlet>
		<servlet-name>MourlverifyServlet</servlet-name>
		<servlet-class>com.zillionstar.yc.servlet.simple.MourlverifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MourlverifyServlet</servlet-name>
		<url-pattern>/rest/simple</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SmsmopushServlet</servlet-name>
		<servlet-class>com.zillionstar.yc.servlet.simple.SmsmopushServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmsmopushServlet</servlet-name>
		<url-pattern>/rest/simple/smsmopush</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SmsrptpushServlet</servlet-name>
		<servlet-class>com.zillionstar.yc.servlet.simple.SmsrptpushServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmsrptpushServlet</servlet-name>
		<url-pattern>/rest/simple/smsrptpush</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>